@import "./reset.scss";

.pin-wrap {
    border: 1px solid #000;
    padding: 10px;
    width: auto;
    display: inline-block;
    margin: 10px;
    text-align: center;
}

.pin {
    input { 
        border: 1px solid #FFF; 
        text-align: center; 
        width: 48px;
        height: 48px;
        font-size: 36px; 
        background-color: #F3F3F3;
        margin-right: 5px;

        &:focus { 
            border: 1px solid #000;
            outline: none;
        }
    } 
}

button#crack {
    background-color: #000;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;

    &:hover {
        background-color: #333;
    }
}

p.r {
    font-size: 20px;
    font-weight: bold;
    color: #000;
    margin-top: 20px;

    span#result {
        color: red;
    }
}

div.footer-inf {
    text-align: center;
    margin: 25px 0 10px 0;
    font-size: 14px;
    color: #000;

    a {
        color: #000;
        text-decoration: none;
        font-weight: bold;

        &:hover {
            text-decoration: underline;
        }
    }
}

@media (max-width: 700px) {
    img.hero-img {
        width: 85% !important;
        max-width: 550px !important;
        height: auto !important;
    }
}
