html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0;
    background-color: #FFF;
    text-align: center;
    font-size: 16px;
    padding-top: 0;
    top: 0;
    position: relative;
    width: 100%;
    min-height: 100vh;

    h1 {
        font-size: 24px;
        margin: 5px 0;
        padding: 0;
    }
    
    h2 {
        font-size: 20px;
        margin: 5px 0;
        padding: 0;
    }
    
    h3 {
        font-size: 18px;
        margin: 10px 0;
        padding: 0;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}
